{% extends 'base.html.twig' %}

{% block title %}Titre{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title d-flex flex-row justify-content-between">
                    <h1 class="">Liste des vidéos</h1>
                    <div class="">
                        <a href="{{ path('admin_videos_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
                        <a href="{{ path('admin_site') }}" class="btn btn-sm btn-default">Retour</a>
                    </div>
                </div>
                <table class="table table-bordered table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th width="1%">#</th>
                            <th>Nom</th>
                            <th>Catégorie</th>
                            <th  width="15%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                            <tr>
                                <td>{{ video.id }}</td>
                                <td>{{ video.title }}</td>
                                <td>{{ video.category.title }}</td>
                                <td>
                                    <a href="{{ path('admin_videos_show', {'slug': video.slug}) }}" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></a>
                                    <a href="{{ path('admin_videos_edit', {'slug': video.slug}) }}" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i></a>
                                    <a href="{{ path('admin_videos_delete', {'slug': video.slug}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
