{# templates/admin/category/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Titre{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page-title d-flex flex-row justify-content-between">
                <h1 class="">{{ cat.id }} - {{ cat.title }}</h1>
                <div class="">
                    <a href="{{ path('admin_categories_list') }}" class="btn btn-sm btn-default">Retour</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <b>ID</b>: {{ cat.id }}<br />
            <b>Titre</b>: {{ cat.title }}<br />
            <b>Tags</b>: {{ cat.tags }}<br />
            <b>Slug</b>: {{ cat.slug }}<br />
        </div>
    </div>
</div>
{% endblock %}